/*!
 * 2048.css
 * Stylesheet for the game 2048.
 *
 * Author: Patrick Goldinger
 * License: MIT
 */

html,body { height: 100%; }

body {
    background-color: #ddd;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0;
    padding: 0;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: #000;
    text-decoration: underline;
}

button {
    background-color: #333;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #eee;
    font-size: 1.1em;
    height: 2.4em;
    min-height: 2.4em;
    max-height: 2.4em;
    margin: 0;
    padding: 0px 8px;
}
button:hover {
    cursor: pointer;
}
button::-moz-focus-inner {
    border: 0;
}

h1 {
    font-size: 3em;
    margin: 30px 0;
}

hr {
    border: none;
    border-top: 1px solid #777;
    margin: 30px 0px;
    padding: 0;
    width: 100%;
}

.line-spacing {
    line-height: 1.5em;
}

.content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px;
    overflow: auto;
    width: 100%;
    max-width: 640px;
}

.content__row {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.settings-btn {
    background: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    border-radius: 100%;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    margin: 40px 0 40px 10px;
    position: relative;
    transition: 200ms;
    width: 50px;
}
*[data-tooltip]::after {
    display: block;
    opacity: 0;
    transition: all 200ms;
}
*[data-tooltip]:hover::after {
    background-color: #333;
    border-radius: 4px;
    color: #eee;
    content: attr(data-tooltip);
    display: block;
    font-size: 0.7em;
    left: 50%;
    transition: 200ms;
    opacity: 1;
    padding: 4px 8px;
    position: absolute;
    top: 115%;
    transform: translateX(-50%);
    z-index: 100;
}

.score-container {
    align-items: center;
    background-color: #999;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-right: 6px;
    padding: 6px 12px;
    position: relative;
}
.score-container__label {
    color: #333;
    display: flex;
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 5px 0;
}
.score-container__value {
    display: flex;
    font-weight: bolder;
}
@keyframes score-increase {
    from {
        bottom: 10%;
        opacity: 1;
    }
    to {
        bottom: 150%;
        opacity: 0;
    }
}
.score-container__increase {
    animation: score-increase 1.5s ease 0s 1 forwards;
    color: #eee;
    font-weight: bolder;
    position: absolute;
}

#newgame {
    margin-left: auto;
}

.endgame {
    background-color: rgba(0,0,0,0.75);
    border-radius: 4px;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.endgame[data-endgame-box="disabled"] {
    padding: 0px;
}
.endgame h2 {
    color: #eee;
    margin: 0px 0px 20px 0px;
}
.endgame button {
    display: block;
    margin: 0px auto;
}
.endgame__box-win,
.endgame__box-lose {
    display: none;
}
.endgame[data-endgame-box="win"] .endgame__box-win {
    display: block;
}
.endgame[data-endgame-box="lose"] .endgame__box-lose {
    display: block;
}

noscript {
    background-color: rgb(126,0,0);
    border: 0;
    border-radius: 4px;
    color: #eee;
    margin: 30px 0px;
    padding: 10px;
}

#G2048 {
    background-color: #333;
    border-radius: 4px;
    cursor: default;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 6px;
    position: relative;
    touch-action: none;
}
#G2048 .base-grid-row {
    display: flex;
    flex-direction: row;
}
#G2048 .base-grid-row .tile-empty,
#G2048 .tile {
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    font-size: 1.3em;
    font-weight: bolder;
    height: 60px;
    justify-content: center;
    margin: 6px;
    width: 60px;
}
#G2048 .base-grid-row .tile-empty {
    background-color: #444;
}
#G2048 .tile {
    margin: 0;
    position: absolute;
    transition: 200ms ease 0s;
    z-index: 35;
}
@keyframes new-tile {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
#G2048 .tile.new {
    animation: new-tile 150ms ease 0s 1 forwards;
    transform-origin: center center;
}
@keyframes merged-tile {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
#G2048 .tile.merged {
    animation: merged-tile 150ms ease 0s 1 forwards;
    transform-origin: center center;
    z-index: 36;
}
#G2048 .tile.v2 {
    background-color: #fff;
}
#G2048 .tile.v4 {
    background-color: #efefef;
}
#G2048 .tile.v8 {
    background-color: #eee;
}
#G2048 .tile.v16 {
    background-color: #dedede;
}
#G2048 .tile.v32 {
    background-color: #ddd;
}
#G2048 .tile.v64 {
    background-color: #cdcdcd;
}
#G2048 .tile.v128 {
    background-color: #ccc;
}
#G2048 .tile.v256 {
    background-color: #bcbcbc;
}
#G2048 .tile.v512 {
    background-color: #bbb;
}
#G2048 .tile.v1024 {
    background-color: #ababab;
}
#G2048 .tile.v2048 {
    background-color: #aaa;
}

.footer {
    justify-content: center;
    margin-bottom: 30px;
}


/*********************/
/*** COOKIE BANNER ***/
/*********************/

.cookie-banner {
    background-color: #bbb;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    margin: 30px auto 0px auto;
    transition: all 200ms ease-out;
    width: 100%;
    max-width: 600px;
}
body[data-cookie-banner="hide"] .cookie-banner {
    height: 0;
    margin: 0;
    opacity: 0;
    z-index: -100;
}
.cookie-banner__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}
.cookie-banner__text b {
    display: flex;
    margin: 0px 0px 10px 0px;
}
.cookie-banner__buttons {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#cookie-accept {
    margin-bottom: 10px;
}
#cookie-settings-btn {
    background-image: url("../media/icon-cookie-settings-black.png");
    margin-left: auto;
}


/*****************/
/*** THEME BAR ***/
/*****************/

.theme-bar {
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    overflow: none;
    padding: 0 50px 0 10px;
    position: absolute;
    right: 0;
    transition: all 200ms;
    transform: scaleX(1);
    transform-origin: right;
    top: 30px;
    z-index: 20;
}
body[data-theme-bar="hide"] .theme-bar {
    transform: scaleX(0);
    z-index: -100;
}
.theme-bar_pre {
    background: none;
    border: none;
    border-radius: 100%;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    margin-right: 10px;
    padding: 0;
    position: relative;
    transition: 100ms;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
}
.theme-bar_pre[data-active] {
    border: 2px solid #000;
    padding: 2px;
}
.theme-bar_pre:not([data-active]):hover {
    border: 2px solid #888;
    padding: 2px;
}
.theme-bar_pre_inner {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.theme-bar_pre_inner span {
    display: flex;
    flex: 1;
    transform: rotate(45deg);
}
.theme-bar_pre_inner span:nth-child(1) {
    border-radius: 60px 0 0 60px;
    transform-origin: center right;
}
.theme-bar_pre_inner span:nth-child(2) {
    border-radius: 0 60px 60px 0;
    transform-origin: center left;
}
#theme-settings-btn {
    background-image: url("../media/icon-theme-brush-black.png");
    z-index: 21;
}


/**********************/
/*** PRIVACY POLICY ***/
/**********************/

.privacy {
    line-height: 1.5em;
    text-align: justify;
}

.privacy h1 {
    font-size: 1.5em;
    margin-top: 50px;
}
.privacy h2 {
    font-size: 1.2em;
    margin-top: 30px;
}

.privacy pre {
    background-color: #ccc;
    border-radius: 3px;
    display: inline;
    font-size: 1.1em;
    margin-right: 5px;
    padding: 2px 5px;
}





@media screen and (max-width: 640px) {
    .content {
        padding: 0 10px;
    }
    .cookie-banner {
        border-radius: 0px;
        margin: 0px auto;
    }
}
